:root {
  --champagne: #eedcc3ff;
  --raisin-black: #19161bff;
  --copper: #b07740ff;
  --night: #171417ff;
  --raisin-black-2: #231f22ff;
  --raisin-black-3: #1c191cff;
  --raisin-black-4: #211c20ff;
  --tan: #e2bc88ff;
  --earth-yellow: #d5a265ff;
  --raisin-black-5: #2c2523ff;
}
